.containerIndexHome {
  padding: 5px 10%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../../../src/assets/217166.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.red {
  border: 111px solid yellow;
}

.navBar-Pokemon{
  width: 100%;
  border: 2px solid red;
}
