/* P4, P1, P6*/
.background-Card {
  /* border: 4px solid palegoldenrod; */
  background: rgba(242, 242, 242,.4);
  border-radius: 15px;
  /* overflow: hidden; */
}

.containerCardPokemon {
  /* border: 10px solid blue; */
  height: 17em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../../../src/assets/P6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 300ms;
}

.background-Card:hover {
  cursor: pointer;
  transform: translateY(-3%);
}

.containerData {
  padding: 10px;
  /* border: 4px solid seagreen; */
  color: rgb(255, 255, 255);
  background: rgba(16, 15, 15, 0.7);
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.pokemon-Name {
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin: 5px;
}

.pokemon-Types {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.pokemon-Types p {
  font-weight: bold;
  font-size: 20px;
  background-color: #9bcc50;
  margin: 3px;
  width: 5.1em;
  height: 1.7em;
  padding-top: 2%;
  border-radius: 4px;
  /* border: 3px solid rgb(101, 84, 84); */
}

.pokemon-Name::first-letter {
  text-transform: uppercase;
}

.imagenesPokemon {
  width: 60%;
}

@media screen and (max-width: 1100px) {
  .containerCardPokemon {
    height: 19em;
  }
}

@media screen and (max-width: 750px) {
  .containerCardPokemon {
    background-size: 340px;
    height: 20em;
  }
  .imagenesPokemon {
    width: 180px;
  }
}

@media screen and (max-width: 500px) {
  .containerCardPokemon {
    background-size: 260px;
    height: 18em;
  }
  .imagenesPokemon {
    width: 40%;
    width: 140px;
  }
}
