/* -----------CONTENEDOR GENERAL DE FILTROS---------------- */
.container-Filters {
    /* border: 3px solid red; */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*---------CONTENEDOR GENERAL DE BARRA DE BUSQUEDA---------*/
.container-Generale__SearchName {
    margin-top: 5px;
    width: 100%;
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 65% 85%, 55% 100%, 45% 100%, 35% 85%, 0 85%);
    background: #535353;
}

.container-SearchName{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 20px 15px 10px 15px;
}

.container-Search {
    grid-column: 1/2;
}

.container-Search p {
    font-size: 38px;
    color: white;
}

.container-Search input {
    width: 100%;
    height: 30px;
    color: #313131;
    border-radius: 3px
}

.paragraph-Search {
    color: white;
    font-size: 18px;
    grid-column: 2/3;
    background: #4DAD5B;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.boton-Reset {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-Reset button{
    background: transparent;
    border: none;
    margin-bottom: 5px;
}

.boton-Reset button img {    
    width: 50px;
}


/*-----------CONTENEDOR SELECT Y FROM--------------*/
.containerFrom_Sort{
    width: 100%;
}

.container-From {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-From div label {
    font-size: 20px;
    margin-right: 10px;
}

.container-From_All {
    width: 30%;
    height: 35px;
    border-radius: 5px;
    background: #2a9d8f;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-From_Created {
    width: 30%;
    height: 40px;
    border-radius: 5px;
    background: #ffc300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-From_NoCreated {
    width: 30%;
    height: 35px;
    border-radius: 5px;
    background: #9b5de5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-Sort_Types {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.container-Sort label, .container-Types label {
    margin-right: 10px;
}



@media screen and (max-width: 900px) {
    .container-SearchName{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .container-Search {
      grid-column: 1/2;
    }

    .container-Search input {
        height: 40px;
    }

    .paragraph-Search {
      grid-column: 1/2;
      height: 100px;
    }

    .container-From {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .container-From_All {
        width: 250px;
        height: 35px;
        margin-bottom: 10px;
    }
    
    .container-From_Created {
        width: 250px;
        height: 35px;
        margin-bottom: 10px;
    }
    
    .container-From_NoCreated {
        width: 250px;
        height: 35px;
        margin-bottom: 10px;
    }

    .container-Sort_Types {
        display: flex;
        flex-direction: column;
    }

    .container-Types, .container-Sort {
        margin-bottom: 10px;
        text-align: center;
    }
    
    .boton-Reset button img {    
        width: 35px;
    }
}






