.navBar-PokemonDetails {
  width: 90%;
}



.container-PokemonDetails {
  padding: 5px 10%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(234, 234, 234);
}

.name-pokemon-details {
  margin-bottom: 10px;
}

.parrafo-pokemon-details {
  text-align: center;
  align-content: center;
  font-size: 60px;
  font-weight: bold;
  margin: 20px;
}
.name-pokemon-details p::first-letter {
  text-transform: uppercase;
}

.pokemon-details {
  margin: 40px 0;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 15px;
}

/*--------Contendor general de imagen y características---------*/
.card-details {
  background: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*-------Contenedor de imagen y barra de poder-------*/
.container-image-and-card-details {
  padding: 20px;
  margin: 0 auto;
  /* border: 1px solid chocolate; */
  grid-column: 1/2;
}

.container-image {
  text-align: center;
  /* height: 65%; */
  margin-bottom: 40px;
}

.container-stats {
}

.pokemon-stats-info {
  height: 30%;
  margin: 0 auto;
  width: 100%;
  /* border: 2px solid rgb(73, 86, 110); */
  /* overflow: hidden; */
  /* margin-top: 20px;  */
}

.canvas-container {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  /* border: 3px dashed rgb(116, 151, 206); */
}

.canvas-container canvas {
  width: 100%;
  height: 150px;
   
}
.stats {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stats p {
  /* border: 3px solid rgb(49, 49, 38); */
 text-align: center;
}

/*---------Contenedor de características y tipos---------*/
.container-pokemon-characteristics_types {
  grid-column: 2/3;
}

.container-pokemon-characteristics {
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  margin: 0 8% 0 0;
  background: #30a7d7;
}
.container-pokemon-characteristics h1 {
  font-size: 29px;
  color: #f2f2f2;
}
.container-pokemon-characteristics p {
  font-size: 25px;
  color: #212529;
  margin: -15px 0 30px 0;
}

/*-----------Contenedor de tipo---------*/
.container-pokemon-types {
  justify-content: space-between;
  margin: 30px 0 0 0;
  font-size: 25px;
}

.paragraph-types {
  margin: 0 0 0 0;
}

.pokemon-types {
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin: 20px 20px 0 0;
  width: 6em;
  height: 2em;
  color: white;
  padding-top: 9px;
  border-radius: 4px;
}

@media screen and (max-width: 960px) {
  .card-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .container-pokemon-characteristics {
    width: 100%;
  }
  .container-image-and-card-details {
    width: 80%;
    grid-column: 1/2;
  }
  .pokemon-stats-info {
    width: 100%;
  }
  .container-pokemon-characteristics_types {
    width: 80%;
    grid-column: 1/2;
    margin: 0 auto;
  }
}

@media screen and (max-width: 630px) {
  .container-pokemon-characteristics {
    width: 100%;
  }
  .container-image-and-card-details {
    width: 90%;
    grid-column: 1/2;
  }
  .pokemon-stats-info {
    width: 100%;
  }
  .container-pokemon-characteristics_types {
    width: 80%;
    grid-column: 1/2;
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .container-pokemon-characteristics {
    width: 100%;
  }
  .container-image-and-card-details {
    width: 100%;
    grid-column: 1/2;
  }

  .container-pokemon-characteristics_types {
    width: 80%;
    grid-column: 1/2;
    margin: 0 auto;
  }

  .container-pokemon-characteristics h1 {
    font-size: 20px;
  }
  .parrafo-pokemon-details {
    font-size: 33px;
  }

  /*Se edita la navBar general*/
  .navBar-PokemonDetails .mainMenu li p{
  font-size: 13px;
  padding: 2px;
}
}


